<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To-Do List</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <body>
        <div id="app">
            <div class="text-center">
                    <h1>MY TO-DO LIST</h1>
                    <!-- MILESTONE 1
                    Stampare all'interno di una lista HTML un item per ogni todo.
                    Se la proprietà done è uguale a true, visualizzare il testo del todo sbarrato. -->
                    <h3 v-if="tasks.length == 0"> Nessuna Task presente </h3>
                    <ol v-else class="border">
                        <li v-for="(task, index) in tasks" @click="changeStatus(index)">
                                <span :class="task.done === true? `completed` : `` ">
                                    {{task.text}}
                                </span>
                    <!-- MILESTONE 2
                    Visualizzare a fianco ad ogni item ha una "x": cliccando su di essa, il todo viene rimosso dalla lista. -->
                                <small @click="deleteTask(index)"> &cross; </small>
                        </li>
                    </ol>

                    <!-- MILESTONE 3
                    Predisporre un campo di input testuale e un pulsante "aggiungi": cliccando sul pulsante, il testo digitato viene letto e utilizzato per creare un nuovo todo, che quindi viene aggiunto alla lista dei todo esistenti. -->
                    
                    <!-- Bonus:
                    1- oltre al click sul pulsante, intercettare anche il tasto ENTER per aggiungere il todo alla lista -->
                    <input type="text" name="" id="" placeholder="Aggiungi una task..."
                            class=""
                            v-model="newTask.text"
                            @keyup.enter="addTask">

                    <button class="btn btn-primary ms-5" @click="addTask">Aggiungi Task</button>
            </div>
    
        </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
    
</body>
</html>