<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To-Do List</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <body>
        <div id="app">
            <div class="text-center">
                    <h1>MY TO-DO LIST</h1>
                    <!-- MILESTONE 1
                    Stampare lista items. Se done è true, testo del todo sbarrato. -->
                    <h3 v-if="tasks.length == 0"> Nessuna Task presente </h3>
                    <ol v-else class="border">

                        <!-- BONUS 2 : cliccare sul testo inverte il valore di done -->
                        <li v-for="(task, index) in tasks" @click="changeStatus(index)">
                                <span :class="task.done === true? `completed` : `` ">
                                    {{task.text}}
                                </span>
                    <!-- MILESTONE 2
                    Visualizzare una "x": al click todo viene rimosso dalla lista. -->
                                <small @click="deleteTask(index)"> &cross; </small>
                        </li>
                    </ol>

                    <!-- MILESTONE 3
                    Input testuale e un pulsante: cliccando sul pulsante, crea nuovo todo, che viene aggiunto alla lista -->
                    <!-- BONUS 1 : "ENTER" per aggiungere il todo alla lista -->
                    <input type="text" name="" id="" placeholder="Aggiungi una task..."
                            class=""
                            v-model="newTask.text"
                            @keyup.enter="addTask">

                    <button class="btn btn-primary ms-5" @click="addTask">Aggiungi Task</button>
            </div>
    
        </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
    
</body>
</html>